.gallery img
{
    
    width: 100%;
    height: 200px;
}
.gallery
{
    background-color: skyblue;
    height:100%;
    padding: 10px 20px;
}
.box
{
    background-color: ghostwhite;
    height: 100%;
    padding: 20px 10px;
  
}