.profile
{
    background-color: black;

}
h1{
    color: yellow;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 21%;
    
  }
.border{
    width: 90%;
    height: 10px;
    background: yellow;
    margin: 20px auto;
}
.talent{
    margin: 20px;
    padding: 20px;
    font-family: Elepanth;
    font-size: 30px;
    word-spacing: 10px;
    color: white;
}